.master {
    flex: 1;
    /* zabere časť šírky */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.detail {
    flex: 2;
    /* zabere väčšiu časť šírky */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #D1E1FA;
    border-top: 2px solid rgb(240, 238, 238);
    overflow-y: auto;
}

.detail-collapse {
    margin-top: 1rem;
}

.toggle-btn {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.collapse-content {
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}