<div class="login-container">
   
  
    
  <div class="glass-container">
    <div class="login-box">
        <h2>Login</h2>
        <form (ngSubmit)="onSubmit()">

          <label for="username">Používateľské meno</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required >
      
          <label for="password">Heslo</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required >
      
          <button type="submit">Prihlásiť sa</button>
          <button (click)="updateuUser()">userName</button>
          
      
          
                        
        </form>
    </div>