/* .toast {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: #4caf50;
    color: white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.confirm-dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
} */

/* Reset a základné štýly */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Celé pozadie stránky */
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
        url('/assets/backgroundimage.webp') center center no-repeat,

        url('/assets/backgroundimage.webp') center/cover no-repeat;
    background-size:
        600px
        /* veľkosť loga / predného obrázka */
        cover;
    /* veľkosť pozadia */

    background-blend-mode: normal;
}

/* Sklenený efekt kontajnera */
.glass-container {
    position: relative;
    /* nutné pre ::before */
    max-width: 311px;
    width: 100%;
    height: 390px;
    background: rgba(247, 243, 243, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

label {
    margin-top: 20px;
}

/* Blur efekt cez pseudo-element */
.glass-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 15px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}

/* Obsah login boxu */
.login-box {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

/* Nadpisy */
h2 {
    color: #616060;
    margin-top: 30px;
    margin-bottom: -20px;
}

/* Formulár */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: transparent;
    color: #181717;
    font-size: 13px;
}

input::placeholder {
    color: #fff;
}

input:focus {
    outline: none;
}

label {
    color: rgb(17, 16, 16);
    font-size: 14px;
    text-align: center;

}

/* Možnosti, odkazy */
.options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    color: white;
}

.options input {
    margin-right: 5px;
    margin-top: 0px;
}

.options a {
    text-decoration: none;
    color: white;
    margin-left: auto;
}

/* Tlačidlá */
button {
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

/* Ostatný text */
p {
    font-size: 12px;
    color: #f3eded;
    margin-top: 15px;
}