  <mat-toolbar color="primary">
    <!-- Ľavá časť: logo + názov -->
    <div class="left-panel">
      <img [src]="logoUrl" alt="Logo" class="logo">
      <span class="brand-name">AngleApp</span>
    </div>
  
    <!-- Spacer posunie pravý panel doprava -->
    <span class="spacer"></span>
  
    <!-- Pravá časť: používateľ + logout -->
    <div class="right-panel">
      <span class="username"*ngIf="user">Prihlásený: {{ user.first_name }} {{ user.last_name }} </span>
      <button mat-raised-button color="warn" (click)="logout()">Odhlásiť sa</button>
    </div>
  </mat-toolbar>

  <div class="menu">
    <button mat-button
    [routerLink]="['/dashboard']"
    routerLinkActive="active"
    aria-label="Dashboard">
<mat-icon>home</mat-icon>

</button>
  
    <button mat-raised-button
            *ngIf="isAdmin"
            [routerLink]="['/users']"
            routerLinkActive="active">
      Používatelia
    </button>
    <button mat-raised-button
            
            [routerLink]="['/products']"
            routerLinkActive="active">
      Produkty
    </button>
  
    <button mat-raised-button
            [routerLink]="['/settings']"
            routerLinkActive="active">
      Settings
    </button>
  </div>


  <div class="buttons-wrapper">
    <div class="left-buttons white-icon">
      <button mat-icon-button aria-label="Vytvoriť" (click)="create.emit()">
        <mat-icon>description</mat-icon>
      </button>
    </div>
  
    <div class="right-buttons red-icon">
      <button mat-icon-button aria-label="Vymazať" [disabled]="!selectedItem"
        (click)="selectedItem && delete.emit(selectedItem)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <input 
      type="text"
      [(ngModel)]="searchTerm"
      (keydown.enter)="enterPressed()"
      placeholder="Hľadaj..."
      class="navbar-search"
    />

  
   
  </div>
  
  <div class="active-filters" *ngIf="activeFilters.length">
    <span class="filter-chip" *ngFor="let f of activeFilters; let i = index">
      {{ f }}
      <button mat-raised-button
    (click)="removeFilterEvent.emit(i)"
    class=" remove-filter-btn"
            >
            ×
    </button>
    </span>
   
    <button mat-raised-button
    (click)="clearFiltersEvent.emit()"
    class="clear-filters-btn"
            >
            Vymazať všetko
    </button>
    
 