  <mat-toolbar color="primary">
    <!-- Ľavá časť: logo + názov -->
    <div class="left-panel">
      <img [src]="logoUrl" alt="Logo" class="logo">
      <span class="brand-name">AngleApp</span>
    </div>
  
    <!-- Spacer posunie pravý panel doprava -->
    <span class="spacer"></span>
  
    <!-- Pravá časť: používateľ + logout -->
    <div class="right-panel">
      <span class="username" *ngIf="user">Prihlásený: {{ user.first_name }} {{ user.last_name }} </span>
      <button mat-raised-button color="warn" (click)="logout()">Odhlásiť sa</button>
    </div>
  </mat-toolbar>

  <div class="menu">
    <button mat-button
    [routerLink]="['/dashboard']"
    routerLinkActive="active"
    aria-label="Dashboard">
<mat-icon>home</mat-icon>

</button>
  
    <button mat-raised-button
            *ngIf="isAdmin"
            [routerLink]="['/users']"
            routerLinkActive="active">
      Používatelia
    </button>
    <button mat-raised-button
            
            [routerLink]="['/products']"
            routerLinkActive="active">
      Produkty
    </button>
  
    <button mat-raised-button
            [routerLink]="['/serialNumber']"
            routerLinkActive="active">
      Seriové čísla
    </button>
    <button mat-raised-button
            [routerLink]="['/ingredient']"
            routerLinkActive="active">
      Kusovníky
    </button>
    <button mat-raised-button
            [routerLink]="['/customers']"
            routerLinkActive="active">
      Zákaznici
    </button>
    <button mat-raised-button
            [routerLink]="['/orders']"
            routerLinkActive="active">
      Objednávky
    </button>
    <button mat-raised-button
            [routerLink]="['/productPlan']"
            routerLinkActive="active">
      Výrobný plán
    </button>
    <button mat-raised-button
            [routerLink]="['/testComponent']"
            routerLinkActive="active">
      Testing
    </button>
  </div>


  <div class="buttons-wrapper">
    <div class="left-buttons white-icon">
      <button mat-icon-button aria-label="Vytvoriť" (click)="create.emit()">
        <mat-icon>description</mat-icon>
      </button>
    </div>
   
    <div class="right-buttons red-icon">
      <button mat-icon-button aria-label="Vymazať" [disabled]="!selectedItem"
      
              (click)="selectedItem && deleteItem.emit(selectedItem)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="right-buttons blue-icon">
      <button mat-icon-button aria-label="Vymazať" [disabled]="!selectedItem"
      [disabled]="!selectedItem" (click)="onDeleteClick()">
        <mat-icon>delete1</mat-icon>
      </button>
    </div>

    <div class="right-buttons blue-icon">
      <button mat-icon-button aria-label="Uložiť" 
      (click)="onSaveClick()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div class="right-buttons blue-icon">
      <button mat-icon-button aria-label="Pridat"
      (click)="onAddClick()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    

   
    <div class="navbar">
      <input type="text" 
      (keydown.enter)="enterPressed()"
        placeholder="Hľadaj...stlač enter!" 
         [(ngModel)]="searchTerm"
        class="navbar-search"/>
    

        <div class="active-filters" *ngIf="(filters$ | async)?.length">
          <span class="filter-chip" *ngFor="let f of filters$ | async; let i = index">
            {{ f }}
            <button (click)="removeFilterAt(i)">×</button>
          </span>
          <button (click)="clearFilterAt()">Vymazať všetko</button>
        </div>
        
    </div>
    