<div *ngIf="notification" 
     class="toast-notification"
     [ngClass]="{ 
        'toast-success': notification.type === 'success', 
        'toast-info':    notification.type === 'info', 
        'toast-warn':    notification.type === 'warn', 
        'toast-error':   notification.type === 'error'  
     }"> 
     
     <span class="message">{{ notification.message }}</span>

     <button class="close-toast" (click)="notification = null">✖</button> 
</div> 


<div *ngIf="confirmMessage" class="notification-confirm">
  
  <button class="close-btn" (click)="closeConfirm()">✖</button>
  
  <p>{{ confirmMessage }}</p>
  
  <div class="actions">
    <button class="btn-primary" (click)="respond(true)">Áno</button>
    <button class="btn-secondary" (click)="respond(false)">Nie</button>
  </div>

</div>