<!-- Toast notifikácie -->
<div *ngIf="notification"  

     [ngClass]="{ 

        'toast-success': notification.type === 'success', 

        'toast-info': notification.type === 'info', 

        'toast-warn': notification.type === 'warn', 

        'toast-error': notification.type === 'error'  

     }"> 

     {{ notification.message }} 

     <button (click)="notification = null">✖</button> 

</div> 

<!-- Confirm dialog -->
<div *ngIf="confirmMessage" class="notification-confirm">
  <p>{{ confirmMessage }}</p>
  <button (click)="respond(true)">Áno</button>
  <button (click)="respond(false)">Nie</button>
  <button (click)="closeConfirm()">X</button>
</div>
