<app-navbar
[selectedItem]="selectedUser"
(deleteItem)="onDeleteUser($event)"
(create)="createNewUser()"
(edit)="selectUser($event)">
</app-navbar>



 
<ng-template #detailTpl>
  <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="saveUser()">
    <label>Použivateľ: <input formControlName="username"></label><br>
    <label>E-mail: <input formControlName="email"></label><br>
    <label>Krstné meno: <input formControlName="first_name"></label><br>
    <label>Priezvisko: <input formControlName="last_name"></label><br>
    <label *ngIf="!selectedUser">Password: <input type="password" formControlName="password"></label><br>
    <label>Role:
      <select formControlName="role">
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="worker">Worker</option>
      </select>
    </label><br>
    <label>Aktívny: <input type="checkbox" formControlName="is_active"></label><br>
    <button type="submit" [disabled]="userForm.invalid">
      {{ selectedUser ? 'Uložiť' : 'Vytvoriť' }}
    </button>
  </form>
</ng-template>


<app-master-layout
  
  [masterTemplateInput]="masterTpl"
  [detailTemplateInput]="detailTpl"
  [items]="users"
  [(selectedItem)]="selectedUser"
  (select)="selectUser($event)">
</app-master-layout>

<ng-template #masterTpl>
  <app-generic-table
  [columns]="columns"
  [data]="users"
  [selectedItem]="selectedUser"
  (rowClick)="selectUser($event)">
</app-generic-table>

</ng-template>






