<app-navbar
  [selectedItem]="selectedProduct"
  (edit)="handleRowClick($event)">
</app-navbar>

<app-master-layout
  [masterTemplateInput]="masterTpl"
  [detailTemplateInput]="detailTpl"
  [items]="product"
  [(selectedItem)]="selectedProduct"
  (select)="handleRowClick($event)">
</app-master-layout>

<ng-template #masterTpl>
  <app-generic-table
    [columns]="columns"
    [data]="product"
    [selectedItem]="selectedProduct"
    (rowClick)="handleRowClick($event)">
  </app-generic-table>
</ng-template>

<ng-template #detailTpl>
  <h3>Ingrediencie pre produkt: {{ selectedProduct?.product_name }}</h3>

  <table>
    <tr *ngFor="let ing of ingredients">
      <td>{{ ing.ingredient_name }}</td>
      <td>{{ ing.quantity }}</td>
      <td>
        <button (click)="editIngredient(ing)">Edit</button>
        <button (click)="removeIngredient(ing)">Delete</button>
      </td>
    </tr>
  </table>

  <form [formGroup]="ingredientForm" (ngSubmit)="saveIngredient()">

    <!-- Filter input -->
    <input type="text" placeholder="Hľadať surovinu" (input)="onFilterChange($event)">
  
    <!-- Dropdown, zobrazuje len vyfiltrované položky -->
    <select formControlName="ingredient_id" size="1">
      <option *ngFor="let s of filteredIngredients()" [value]="s.id">
        {{ s.product_name }}
      </option>
    </select>
  
    <input type="number" formControlName="quantity" step="0.01" min="0.01">
  
    <button type="submit">
      {{ selectedIngredient ? 'Uložiť zmeny' : 'Pridať ingredienciu' }}
    </button>
    <button type="button" *ngIf="selectedIngredient" (click)="cancelEdit()">Zrušiť</button>
  </form>
  
</ng-template>
