<app-navbar
  [selectedItem]="selectedProduct"
  (edit)="handleRowClick($event)">
</app-navbar>

<app-master-layout
  [masterTemplateInput]="masterTpl"
  [detailTemplateInput]="detailTpl"
  [items]="product"
  [(selectedItem)]="selectedProduct"
  (select)="handleRowClick($event)">
</app-master-layout>

<ng-template #masterTpl>
  <app-generic-table
    [columns]="columns"
    [data]="(filteredData$ | async) ?? []" 
    [selectedItem]="selectedProduct"
    (rowClick)="handleRowClick($event)">
  </app-generic-table>
</ng-template>

<ng-template #detailTpl>
  <h3>Ingrediencie pre produkt: {{ selectedProduct?.product_name }}</h3>

  <table>
    <tr *ngFor="let ing of ingredients">
      <td>{{ ing.ingredient_name }}</td>
      
      <input type="number" [(ngModel)]="ing.quantity"/>
    <button (click)="updateIngredientQuantity(ing)">Uložiť</button>
    <button (click)="deleteIngredient(ing)">Vymazať</button>
      
    </tr>
  </table>
  <button (click)="openModal()">Pridať Surovinu</button>
  
  <app-item-selector 
  *ngIf="showModal " 
  [productId]="selectedProduct?.id ?? 0"
  [productName]="selectedProduct?.product_name ?? ''"
  [existingIngredients]="ingredients"
  (addIngredient)="onAddIngredient($event)"
  (close)="closeModal()"
  class="modal">
  
</app-item-selector>
 
  
</ng-template>