<table class="app-table">
    <thead>
      <tr>
        <th *ngFor="let col of columns" [style.text-align]="col.align || 'left'">
          {{ col.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data" (click)="onRowClick(row)" class="clickable-row"  [class.selected]="row.id === selectedItem?.id"class="highlight-row">
        <td *ngFor="let col of columns" [style.text-align]="col.align || 'left'">
          <ng-container [ngSwitch]="col.type">
  
            <span *ngSwitchCase="'date'">{{ row[col.key] | date:'dd.MM.yyyy' }}</span>
            <span *ngSwitchCase="'boolean'">{{ row[col.key] ? 'Áno' : 'Nie' }}</span>
            <span *ngSwitchCase="'number'">{{ row[col.key] }}</span>
            <span *ngSwitchDefault>{{ row[col.key] }}</span>
  
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  