<div class="table-wrapper">

<table class="app-table"> 

  <thead> 

    <tr> 

      <!-- Hlavičky tabuľky --> 

      <th *ngFor="let col of headers" style="cursor: pointer; user-select: none;">
        <span>{{ col.label || col.key }}</span>
        <button mat-icon-button (click)="sortData(col.key)">
          <mat-icon>
            {{ sortColumn === col.key ? (sortAsc ? 'arrow_upward' : 'arrow_downward') : 'unfold_more' }}
          </mat-icon>
        </button>


      </th> 
   <!-- tlačidlo alebo ikonka zoradenia -->
  
    </tr> 
   
     

  </thead> 

  <tbody> 

    <tr *ngFor="let row of filteredData" 
        (click)="onRowClick(row)" 
        [class.selected]="isSelected(row)" 
        [ngClass]="rowClassMap(row)">  

      <td *ngFor="let col of headers"> 
        {{ getValue(row, col.key) }} 
      </td> 

   
    

    </tr> 

  </tbody> 

   

</table> 

</div>
 