app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* alebo koľko potrebuješ */
    background: white;
    z-index: 1000;


}

.plan-row {
    font-weight: bold;
    background-color: #f0f0f0;
}

.fullscreen-overlay {
    position: fixed;
    /* fixne nad oknom */
    top: 60;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* polopriehľadné pozadie */
    z-index: 1000;
    /* nad ostatným obsahom */

}


.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;

}

.plan-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}